/* variables.module.scss */
$primary-color: #f4ac45;
$secondary-color: #457d58;
$secondary-light-color: #00a46b;
$terciary-color: #688e26;
$nav-items-color: #b2f0b3;
$text-color: #111111;
$text-white: #ffffff;
$card-bg-color: #f5f5f5;

$theme-colors: (
  'success': #28a745,
  'info': #17a2b8,
  'warning': #ffc107,
  'error': tomato,
);

// :export {
//   mainColor: $primary-color;
//   secondColor: $secondary-color;
//   thirdColor: $terciary-color;
//   themeColors: $theme-colors;
// }
