@use 'variables';

.footer {
  margin-top: auto;
  .footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: variables.$secondary-color;
    color: variables.$primary-color;
    ul {
      list-style-type: none;
      li {
        padding: 0.5rem;
      }
    }
  }
}
