.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .homeHeader {
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem;
    .homeIntro {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .homeImage {
      margin: 4rem;
      img {
        border-radius: 25% 25% 25% 0%;
      }
    }
  }
  .homeSection {
    height: auto;
  }
}
