@use 'variables';

.howItWorksTopSection {
  background-color: variables.$secondary-light-color;
  padding: 4rem;
  h1 {
    color: variables.$nav-items-color;
  }
}

.howItWorksSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.howItWorksInnerSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}
