@use 'variables';

.plansInfoTopLevelSection {
  background-color: white;
  padding: 4rem;
  h1 {
    color: variables.$text-color;
  }
}

.plansInfoSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
